<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devices</key>
	<dict>
		<key>MainBoard</key>
		<dict>
			<key>Buffer</key>
			<dict>
				<key>SampleCount</key>
				<integer>32768</integer>
				<key>SampleFreq</key>
				<integer>20000</integer>
			</dict>
			<key>CheckStateFlag</key>
			<true/>
			<key>CheckFilePath</key>
			<string>ServerReady.txt</string>
			<key>CheckInterval</key>
			<string>2</string>
			<key>ClassName</key>
			<string>MainBoard</string>
			<key>CommandSuffix</key>
			<string>\0</string>
			<key>Password</key>
			<string>DANIEL</string>
			<key>CommandMapFile</key>
			<string>mb_command_map.json</string>
			<key>StdSquareAmp</key>
			<real>20000</real>
			<key>StdSquareDutyCycle</key>
			<integer>25</integer>
			<key>StdSquareFreq</key>
			<real>362.72</real>
			<key>StdMeanVolt</key>
			<integer>0</integer>
			<key>ConfigOfChannels</key>
			<array>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbserial-DAQBoard1</string>
					<key>ServerIP</key>
					<string>192.168.1.122</string>
					<key>ServerPort</key>
					<real>5000</real>
				</dict>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbserial-DAQBoard2</string>
					<key>ServerIP</key>
					<string>169.254.10.2</string>
					<key>ServerPort</key>
					<real>5000</real>
				</dict>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbserial-DAQBoard3</string>
					<key>ServerIP</key>
					<string>169.254.10.3</string>
					<key>ServerPort</key>
					<real>5000</real>
				</dict>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbserial-DAQBoard4</string>
					<key>ServerIP</key>
					<string>169.254.10.4</string>
					<key>ServerPort</key>
					<real>5000</real>
				</dict>
			</array>
		</dict>
		<key>DUT</key>
		<dict>
			<key>CheckStateFlag</key>
			<true/>
			<key>BaudRate</key>
			<string>1250000</string>
			<key>ClassName</key>
			<string>DUTDevice</string>
			<key>CmdSuffix</key>
			<string>\r\r</string>
			<key>Prompt</key>
			<string>:-)</string>
			<key>ConfigOfChannels</key>
			<array>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbmodem641</string>
				</dict>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbmodem642</string>
				</dict>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbmodem643</string>
				</dict>
				<dict>
					<key>DevPath</key>
					<string>/dev/cu.usbmodem644</string>
				</dict>
			</array>
		</dict>
		<key>JLink</key>
		<dict>
			<key>Buffer</key>
			<dict>
				<key>CommandFile</key>
				<string>/vault/cmd.txt</string>
			</dict>
			<key>CheckInterval</key>
			<string>1</string>
			<key>ClassName</key>
			<string>JLinkDevice</string>
			<key>ConfigOfChannels</key>
			<array>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>JLinkSN</key>
						<string>50100547</string>
					</dict>
				</dict>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>JLinkSN</key>
						<string>50100547</string>
					</dict>
				</dict>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>JLinkSN</key>
						<string>59404995</string>
					</dict>
				</dict>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>JLinkSN</key>
						<string>59408779</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>Fixture</key>
		<dict>
			<key>CheckStateFlag</key>
			<true/>
			<key>BaudRate</key>
			<string>115200</string>
			<key>Buffer</key>
			<dict>
				<key>CarrierOutCmd</key>
				<array>
					<string>DOWN_CARRIER_OUT</string>
					<string>DOWN_CARRIER_OUT</string>
					<string>UP_CARRIER_OUT</string>
					<string>UP_CARRIER_OUT</string>
				</array>
				<key>CylinderDownCmd</key>
				<array>
					<string>DOWN_LEFT_CY_DOWN</string>
					<string>DOWN_RIGHT_CY_DOWN</string>
					<string>UP_LEFT_CY_DOWN</string>
					<string>UP_RIGHT_CY_DOWN</string>
				</array>
				<key>CylinderUpCmd</key>
				<array>
					<string>DOWN_LEFT_CY_UP</string>
					<string>DOWN_RIGHT_CY_UP</string>
					<string>UP_LEFT_CY_UP</string>
					<string>UP_RIGHT_CY_UP</string>
				</array>
			</dict>
			<key>CheckInterval</key>
			<string>1</string>
			<key>ClassName</key>
			<string>Fixture</string>
			<key>CmdSuffix</key>
			<string>\r\n</string>
			<key>Commands</key>
			<dict>
				<key>CheckDBStart</key>
				<dict>
					<key>Command</key>
					<string>START?</string>
					<key>EndMark</key>
					<string>START_P/</string>
					<key>ExpectValue</key>
					<string>START_P</string>
					<key>Timeout</key>
					<integer>1</integer>
				</dict>
				<key>EndCmds</key>
				<array>
					<dict>
						<key>Command</key>
						<string>FINISH_TEST</string>
						<key>EndMark</key>
						<string>FINISH_TEST/</string>
						<key>ExpectValue</key>
						<string>FINISH_TEST_ACTION_OK/</string>
						<key>Timeout</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>InitCmds</key>
				<array/>
				<key>StartCmds</key>
				<array>
					<dict>
						<key>Command</key>
						<string>CHECK_CY_STATUS?</string>
						<key>EndMark</key>
						<string>CHECK_CY_STATUS?/</string>
						<key>ExpectValue</key>
						<string>CY1_OUT/CY2_DOWN/</string>
						<key>Timeout</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<key>DevPath</key>
			<string>/dev/cu.usbserial-MOTION</string>
		</dict>
		<key>WinPC</key>
		<dict>
			<key>CheckStateFlag</key>
			<true/>
			<key>Buffer</key>
			<dict>
				<key>CCG2Programmer</key>
				<string>C:/Programmer/MiniProg3/MP3Programmer/MP3Programmer.exe</string>
				<key>CPLDProgrammer</key>
				<string>C:/lscc/Programmer/3.8/bin/nt/pgrcmd.exe</string>
			</dict>
			<key>CheckFilePath</key>
			<string>ServerReady.txt</string>
			<key>CheckInterval</key>
			<string>2</string>
			<key>ClassName</key>
			<string>WinPCDevice</string>
			<key>ServerIP</key>
			<string>169.254.10.84</string>
			<key>ConfigOfChannels</key>
			<array>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>MP3PortName</key>
						<string>MiniProg3/1506DD000311</string>
						<key>PortAddr4Lattice</key>
						<string>FTUSB-0</string>
						<key>XCFFile4Lattice</key>
						<string>C:/Programmer/Fireware/CPLDConfig1.xcf</string>
					</dict>
					<key>ServerPort</key>
					<real>1111</real>
				</dict>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>MP3PortName</key>
						<string>MiniProg3/1506DD000312</string>
						<key>PortAddr4Lattice</key>
						<string>FTUSB-1</string>
						<key>XCFFile4Lattice</key>
						<string>C:/Programmer/Fireware/CPLDConfig2.xcf</string>
					</dict>
					<key>ServerPort</key>
					<real>1112</real>
				</dict>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>MP3PortName</key>
						<string>MiniProg3/1506DD000313</string>
						<key>PortAddr4Lattice</key>
						<string>FTUSB-0</string>
						<key>XCFFile4Lattice</key>
						<string>C:/Programmer/Fireware/CPLDConfig.xcf</string>
					</dict>
					<key>ServerPort</key>
					<real>1113</real>
				</dict>
				<dict>
					<key>Buffer</key>
					<dict>
						<key>MP3PortName</key>
						<string>MiniProg3/1506DD000314</string>
						<key>PortAddr4Lattice</key>
						<string>FTUSB-3</string>
						<key>XCFFile4Lattice</key>
						<string>C:/Programmer/Fireware/CPLDConfig4.xcf</string>
					</dict>
					<key>ServerPort</key>
					<real>1114</real>
				</dict>
			</array>
		</dict>
	</dict>
	<key>General</key>
	<dict>
		<key>AppName</key>
		<string>MLB-FCT</string>
		<key>BlobDirTemp</key>
		<string>/tmp/Blob</string>
		<key>CountOfDUT</key>
		<integer>4</integer>
		<key>RunMode</key>
		<dict>
			<key>SupportedRunModes</key>
			<array>
				<string>Normal</string>
				<string>Audit</string>
				<string>REL</string>
			</array>
			<key>InitialRunMode</key>
			<string>Normal</string>
		</dict>
		<key>ChannelGroup</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</array>
		<key>DUTFlags</key>
		<array>
			<true/>
			<true/>
			<true/>
			<true/>
		</array>
		<key>FunctionMap</key>
		<dict>
			<key>DUT</key>
			<array>
				<string>diags</string>
				<string>detect</string>
			</array>
			<key>Fixture</key>
			<array>
				<string>vendor_id</string>
			</array>
		</dict>
		<key>DUTType</key>
		<string>All</string>
		<key>DebugEnabled</key>
		<false/>
		<key>FixtureID</key>
		<string>MT-0001</string>
		<key>JLinkScriptName</key>
		<string>JLinkComm</string>
		<key>UserPWD</key>
		<string>123123</string>
		<key>ContinueOnFail</key>
		<true/>
		<key>PDCAEnabled</key>
		<false/>
		<key>RootDirOfTestLog</key>
		<string></string>
		<key>SNLength</key>
		<integer>17</integer>
		<key>ScanSNByOP</key>
		<false/>
		<key>TestPlanName</key>
		<string>test_plan__1.0.0_1.0.0.csv</string>
		<key>SequencerPath</key>
		<string>/Work/Develop/Resource/_Customer/microtest_training/python-sequencer/x527/sequencer/sequencer.py</string>
		<key>StartTestByButton</key>
		<false/>
		<key>StepRunLevel</key>
		<integer>0</integer>
		<key>Username</key>
		<string>Jack</string>
	</dict>
	<key>Layout</key>
	<dict>
		<key>DisplayResultByBackgroundColor</key>
		<true/>
		<key>OrderModeInColumn</key>
		<integer>1</integer>
		<key>OrderModeInRow</key>
		<integer>0</integer>
		<key>OrderPriority</key>
		<integer>0</integer>
		<key>SynchItemState4AllDUTs</key>
		<true/>
		<key>XMargin</key>
		<integer>3</integer>
		<key>XSpaceBetweenDUTs</key>
		<integer>3</integer>
		<key>YMargin</key>
		<integer>3</integer>
		<key>YSpaceBetweenDUTs</key>
		<integer>3</integer>
	</dict>
	<key>LoopTest</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Interval</key>
		<real>2</real>
		<key>Times</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
