<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DUT</key>
	<array>
		<string>diags</string>
		<string>detect</string>
	</array>
	<key>Fixture</key>
	<array>
		<string>vendor_id</string>
	</array>
</dict>
</plist>
