<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DataCollection</key>
		<dict>
			<key>AttrNameOnPDCA</key>
			<string></string>
			<key>DataSourceIndex</key>
			<integer>0</integer>
			<key>ItemNameOnPDCA</key>
			<string></string>
		</dict>
		<key>Description</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>ID</key>
		<real>1</real>
		<key>ItemName</key>
		<string>FOD TEST</string>
		<key>Operations</key>
		<array>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string>COIL3_FOD</string>
					<key>Command</key>
					<string></string>
					<key>IntervalBetweenRW</key>
					<real>0.0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>DUT#&lt;@&gt;</string>
				<key>Name</key>
				<string>showDatas</string>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string>showFODDatas:</string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
						<key>Precision</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
		</array>
		<key>TestControl</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>EndAction</key>
			<string>N/A</string>
			<key>RetestCount</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
