<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DataCollection</key>
		<dict>
			<key>AttrNameOnPDCA</key>
			<string></string>
			<key>DataSourceIndex</key>
			<integer>0</integer>
			<key>ItemNameOnPDCA</key>
			<string></string>
		</dict>
		<key>Description</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>ID</key>
		<real>1</real>
		<key>ItemName</key>
		<string>INIT</string>
		<key>Operations</key>
		<array>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>SETHSAIO,1,1</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string>DONE</string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>HSAIO_1_1</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string>DONE</string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>SETHSAIO,1,0</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string>DONE</string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>HSAIO_1_0</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string>DONE</string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>SETHSAIO,2,0</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string>DONE</string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>HSAIO_2_0</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>SETHSAIO,2,1</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string>DONE</string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>HSAIO_2_1</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
		<key>TestControl</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>EndAction</key>
			<string>N/A</string>
			<key>RetestCount</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>DataCollection</key>
		<dict>
			<key>AttrNameOnPDCA</key>
			<string></string>
			<key>DataSourceIndex</key>
			<integer>0</integer>
			<key>ItemNameOnPDCA</key>
			<string></string>
		</dict>
		<key>Description</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>ID</key>
		<real>2</real>
		<key>ItemName</key>
		<string>SET_PATTERN</string>
		<key>Operations</key>
		<array>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>FPGASEND,2,37,0,0</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>0</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>SET_PATTERN_0</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
						<key>Precision</key>
						<real>1</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>FPGASEND,2,37,1,0</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>0</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>SET_PATTERN_1</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>FPGASEND,2,37,2,0</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>0</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>SET_PATTERN_2</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>FPGASEND,2,37,3,0</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>0</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>SET_PATTERN_3</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>FPGASEND,2,37,4,0</string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>0</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>SET_PATTERN_4</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict>
					<key>FailValue</key>
					<string>FAIL</string>
					<key>PassValue</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
		<key>TestControl</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>EndAction</key>
			<string>N/A</string>
			<key>RetestCount</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>DataCollection</key>
		<dict>
			<key>AttrNameOnPDCA</key>
			<string></string>
			<key>BufferName</key>
			<string></string>
			<key>DataSourceIndex</key>
			<integer>6</integer>
			<key>ItemNameOnPDCA</key>
			<string></string>
		</dict>
		<key>Description</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>ID</key>
		<string>3</string>
		<key>ItemName</key>
		<string>PWM_INVERTER_1_AMP</string>
		<key>Operations</key>
		<array>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>FPGASEND,3,1,3,0</string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string></string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>0</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>DAQ_INIT</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>FPGASEND,3,1,3,32768</string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string></string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string>Length:65536</string>
						<key>Timeout</key>
						<real>10</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>DAQ</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
						<key>Precision</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string></string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string>loadVoltageData:</string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>10</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>LOAD_VOLTAGE_DATA</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
						<key>Precision</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string></string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string>loadHexData:</string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>10</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>LOAD_HEX_DATA</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
						<key>Precision</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string></string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string>openWaveWindow:</string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>10</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>OpenWaveWindow</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string></string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string>showTimeDomainWave:</string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>10</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>ShowTimeDomainWave</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string></string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string>amplitude:</string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string>Length:65535</string>
						<key>Timeout</key>
						<real>10</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>CAL_AMP</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>19500</real>
						<key>Unit</key>
						<string>mV</string>
						<key>Upper</key>
						<real>21000</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string>Amp: ([0-9.]+)</string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>1000</real>
						<key>Increment</key>
						<real>999999999999999</real>
						<key>Precision</key>
						<real>0</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
		</array>
		<key>TestControl</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>EndAction</key>
			<string>N/A</string>
			<key>RetestCount</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>DataCollection</key>
		<dict>
			<key>AttrNameOnPDCA</key>
			<string></string>
			<key>BufferName</key>
			<string></string>
			<key>DataSourceIndex</key>
			<integer>2</integer>
			<key>ItemNameOnPDCA</key>
			<string></string>
		</dict>
		<key>Description</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>ID</key>
		<string>4</string>
		<key>ItemName</key>
		<string>PWM_INVERTER_1_FREQ</string>
		<key>Operations</key>
		<array>
			<dict>
				<key>BufferName</key>
				<string>FREQ_DUTYCYCLE</string>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string>DUTYCYCLE</string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string>pwm:</string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>DAQ_FREQ_DUTYCYCLE</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string></string>
					<key>Command</key>
					<string></string>
					<key>Function</key>
					<dict>
						<key>Args</key>
						<dict/>
						<key>Name</key>
						<string>showFreqDomainWave:</string>
					</dict>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>10</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>ShowFreqDomainWave</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>999999999999999</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>999999999999999</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string>FREQ_DUTYCYCLE</string>
					<key>Command</key>
					<string></string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string></string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>INVERTER_1_FREQ</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>362700</real>
						<key>Unit</key>
						<string>Hz</string>
						<key>Upper</key>
						<real>362740</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string>Freq: ([0-9.]+)kHz</string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>1000</real>
						<key>Increment</key>
						<real>173</real>
						<key>Precision</key>
						<real>3</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
		</array>
		<key>TestControl</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>EndAction</key>
			<string>N/A</string>
			<key>RetestCount</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>DataCollection</key>
		<dict>
			<key>AttrNameOnPDCA</key>
			<string></string>
			<key>BufferName</key>
			<string></string>
			<key>DataSourceIndex</key>
			<integer>0</integer>
			<key>ItemNameOnPDCA</key>
			<string></string>
		</dict>
		<key>Description</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>ID</key>
		<string>5</string>
		<key>ItemName</key>
		<string>PWM_INVERTER_1_DUTY_CYCLE</string>
		<key>Operations</key>
		<array>
			<dict>
				<key>CommAction</key>
				<dict>
					<key>ActionType</key>
					<integer>0</integer>
					<key>BufferKey</key>
					<string>FREQ_DUTYCYCLE</string>
					<key>Command</key>
					<string></string>
					<key>IntervalBetweenRW</key>
					<real>0</real>
					<key>ReadControl</key>
					<dict>
						<key>EndMark</key>
						<string>B431-16B&gt;</string>
						<key>Timeout</key>
						<real>5</real>
					</dict>
				</dict>
				<key>Device</key>
				<string>MainBoard#&lt;@&gt;</string>
				<key>EndAction</key>
				<string>N/A</string>
				<key>Name</key>
				<string>INVERTER_1_CYCLE</string>
				<key>RetestCount</key>
				<integer>0</integer>
				<key>Spec</key>
				<dict>
					<key>AbsValue</key>
					<string></string>
					<key>Pattern</key>
					<string></string>
					<key>Range</key>
					<dict>
						<key>Lower</key>
						<real>24</real>
						<key>Unit</key>
						<string>N/A</string>
						<key>Upper</key>
						<real>26</real>
					</dict>
					<key>ReverseFlag</key>
					<false/>
					<key>SpecFunction</key>
					<string></string>
				</dict>
				<key>Spec.ReverseFlag</key>
				<false/>
				<key>TestControl</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>EndAction</key>
					<string>N/A</string>
					<key>RetestCount</key>
					<integer>0</integer>
				</dict>
				<key>ValueProcessor</key>
				<dict>
					<key>Function</key>
					<string></string>
					<key>Pattern</key>
					<string>Duty Cycle: ([0-9.]+)</string>
					<key>Transform</key>
					<dict>
						<key>Factor</key>
						<real>999999999999999</real>
						<key>Increment</key>
						<real>999999999999999</real>
						<key>Precision</key>
						<real>3</real>
					</dict>
				</dict>
				<key>ValueReplacement</key>
				<dict/>
			</dict>
		</array>
		<key>TestControl</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>EndAction</key>
			<string>N/A</string>
			<key>RetestCount</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
